@using EcommerceOsorioManha.Models
@model List<ItemVenda>
@{
    ViewBag.Title = "CarrinhoCompras";
    Layout = "~/Views/Shared/Layout.cshtml";
    string guid = ViewBag.Guid;
}

<h2>Carrinho de Compras</h2>

<table class="table table-hover table-striped" style="marigin-top=30px">
    <tr>
        <th>Imagem</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>SubTotal</th>
    </tr>
    @foreach (ItemVenda item in Model)
    {
        <tr>
            <td><img src="~/Imagens/@item.ProdutoVenda.Imagem" alt="Imagem do Produto" style="width:150px"/></td>
            <td>@item.ProdutoVenda.Nome</td>
            <td>@item.QtdVenda</td>
            <td>@item.PrecoVenda</td>
            @{
                double subtotal = item.QtdVenda * item.PrecoVenda;
            }
            <td>@subtotal.ToString("C2")</td>
        </tr>
    }

</table>